/* 
	灰色度使用 #C8C8C8
	链接使用
 */
.all{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
/* 去除原生边框 */
button::after{
	border: none;
	outline: none;
}

/* 关闭图标 */
.close_icon{
	position: absolute;
	top: 15rpx;
	left: 15rpx;
	height: 50rpx;
	width: 50rpx;
}
.close_icon image{
	height: 50rpx;
	width: 50rpx;
}

/* 企业logo */
.logo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 250rpx;
	padding-bottom: 200rpx;
	text-align: center;
}
.logo_icon{
	width: 375rpx;
	height: 136rpx;
	font-weight: 600;
	font-size: 50px;
}
.logo_idea{
	font-weight: 600;
	letter-spacing: 20rpx;
	padding-left: 20rpx;
}

/* 登录主框 */
.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10rpx 0;
}
.login_username,
.login_validate{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: #C8C8C8 1px solid;
	color: #C8C8C8;
	padding: 18rpx;
	width: 600rpx; /* (80% * 750rpx) */
	padding-top: 50rpx;
}
.login_username label,
.login_validate label{
	width: 125rpx;
	letter-spacing: 2rpx;
}
.login_username input,
.login_validate input{
	flex-grow: 0.8;
	letter-spacing: 2rpx;
	color: #1e1e1e;
}
.login_validate button{
	display: flex;
	align-items: center;
	position: absolute;
	right: 70rpx;
	font-size: 15px;
	height: 55rpx;
	width: auto;
	border-radius: 50rpx;
	border: #C8C8C8 1rpx solid;
	background-color: #FFF;
}
.login_agree,
.login_agree_checkbox{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.login_agree{
	width: 100%;
	padding-top: 40rpx;
	padding-bottom: 60rpx;
}
.login_agree text,
.login_agree label{
	font-size: 14px;
}
.login_agree_agreement,
.login_agree_clause{
	color: #007AFF;
}
.login_btn{
	width: 600rpx;
}
.login_btn button{
	border-radius: 60rpx;
}
.login_btn text{
	letter-spacing: 50rpx;
	padding-left: 50rpx;
}

/* 其他登录方式 */
.otherLogin{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 5rpx;
	width: 100%;
}
.otherLogin_tips{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 600rpx;
	color: #C8C8C8;
}
.otherLogin_tips text{
	padding: 0 20rpx;
}
.otherLogin_tips_line{
	border: 1rpx solid #C8C8C8;
	flex-grow: 0.5;
}
.otherLogin_applogo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 120rpx;
}
.otherLogin_applogo image{
	height: 80rpx;
	width: 80rpx;
	margin: 20rpx 40rpx;
}